@import "tailwindcss";

@font-face {
    font-family: 'YoonchoUsanChildrenS';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408@1.0/YoonChildfundkoreaDaeHan.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NexonLv1Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON%20Lv1%20Gothic%20OTF%20Light.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SuSeongHyeJeong';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205-2@1.0/SuseongHyejeong.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@layer base {
    * {
        font-family: 'YoonchoUsanChildrenS', sans-serif;
    }
}

@layer utilities {
    .system-basic {
        font-family: 'NexonLv1Gothic', sans-serif;
    }
    .subsub {
        font-family: 'SuSeongHyeJeong', sans-serif;
    }
}